# Environment files
.env
.env.*

# Spring Boot config
application-*.properties
application-*.yml

# Secrets / keys
*.key
*.pem

# Logs
logs/
*.log

# Build files
/target/
build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
